body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ff8c33; /* Fond de la page */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff; /* Blanc */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

header {
    background-color: #001F3F; /* Orange vif */
    color: #fff;
    text-align: center;
    padding: 1em 0;
    border-radius: 10px 10px 0 0;
}

nav {
    background-color: #ff8c33; /* Orange plus clair */
    text-align: center;
    border-radius: 0 0 10px 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #fff;
}

#contenu {
    margin-top: 20px;
}

article {
    margin-bottom: 20px;
    background-color: #ffd699; /* Jaune clair */
    padding: 10px;
    border-radius: 8px;
}

h2 {
    color: #333;
}

.date {
    display: block;
    margin-top: 10px;
    color: #888;
}

footer {
    background-color: #ff5733; /* Orange vif */
    color: #fff;
    text-align: center;
    padding: 1em 0;
    border-radius: 0 0 10px 10px;
}
